###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# web
/public/bundles
/public/uploads

# composer
/composer.phar
composer.lock

# npm
package-lock.json
pnpm-lock.yaml
bun.lockb
yarn.lock
node_modules
.yarn

# phpcs
.php_cs.cache
.php_cs

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###

###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.php
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###
