# app
/app/bootstrap.php.cache
/app/config/parameters.yml
app/maintenance.php

# bin
/bin/*
!/bin/console
!/bin/console.php
!/bin/websiteconsole
!/bin/adminconsole
!/bin/symfony_requirements

# var
/var/cache/*
/var/indexes/*
/var/logs/*
/var/sessions/*
/var/uploads/*
/var/sitemaps/*
!/var/cache/.gitkeep
!/var/indexes/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
!/var/uploads/.gitkeep
!/var/sitemaps/.gitkeep

# web
/web/css
/web/js
/web/bundles
/web/uploads
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/web/admin/translations/*
!/web/admin/translations/.gitkeep

# composer
/composer.phar
/vendor

# IDEs
/.idea
*.iml
*~

# System files
.DS_Store
