parameters:
    paths:
        - bin/
        - config
        - public/
        - src
        - tests
    level: max
    doctrine:
        objectManagerLoader: tests/phpstan/object-manager.php
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/website/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/phpstan/console-application.php
