# the javascript setup in this folder is not compatible with npm 7: https://github.com/sulu/skeleton/issues/88
# to display a helpful error message if an incompatible version is used, we enable the "engine-strict" setting
engine-strict=true
